<!DOCTYPE html>
<html lang="en">
<head>

<!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />


 <title>Datastore and Firebase Auth Example</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
</head>
<body>
 <div>

    <a class="button-1" id="home" href="{{ url_for('home')}}" >Home</a>
    <a class="button-1" id="sign-in" hidden="false">Sign in</a>
    <a class="button-1" href="{{ url_for('list_cars')}}">VIEW ALL CARS</a>
     <a class="button-1" id="addcar" hidden="true" href="{{ url_for('addEV_page')}}">ADD CAR</a>
     <a class="button-1" id="sign-out" hidden="true">Sign out</a>
 </div>
 <h1>Electric Vehicles</h1>
   {{ cars }}

 <div id="firebase-auth-container"></div>

 {% for ev in cars %}
 <a href="{{ url_for('home')}}">
     <div class="card">
       Name of Product:{{ ev.obj_name }}<br/>
       Manufacturer:{{ ev.manufacturer }}<br/>
       Year:{{ ev.year }}<br/>
       Battery Size:{{ ev.battery_size }}<br/>
       WLTP Range:{{ ev.WLTP_range }}<br/>
       Cost:{{ ev.cost }}<br/>
       Power:{{ ev.power }}<br/>
     </div>
 </a>
{% endfor %}






 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>

</html>
