<!doctype html>
<html>
<head>

<!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />


 <title>Datastore and Firebase Auth Example</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
</head>
<body>
 <div class="topnav">

     <a id="home" href="{{ url_for('home')}}" >Home</a>

     <a href="{{ url_for('list_cars')}}">VIEW ALL CARS</a>
     <a class="active" href="{{ url_for('compareEV_page')}}" id="compare">COMPARE</a>
     <a id="addcar" href="{{ url_for('addEV_page')}}">ADD CAR</a>
     <a id="sign-out" hidden="true">Sign out</a>
     <a id="sign-in" hidden="false">Sign in</a>
 </div>
 <h1 class="colorr">Electric Vehicles</h1>

 <div id="firebase-auth-container"></div>

<table>
  <tr>
    <th style="width:10%">Name</th>
    <th>Manufacturer</th>
    <th>Year</th>
    <th>Battery Size</th>
    <th>WLTP Range</th>
    <th>Cost</th>
    <th>Power</th>
  </tr>
   {% for ev in compare %}
  <tr>
      <td>{{ ev.obj_name }}</td>
      <td>{{ ev.manufacturer }}</td>
      {% if ev.year==minVal[0]%}
        <td class="fa-remove">{{ ev.year }} </td>
      {% elif ev.year==maxVal[0] %}
        <td class="fa-check">{{ ev.year }} </td>
      {% else %}
        <td>{{ ev.year }} </td>
      {% endif %}

      {% if ev.battery_size==minVal[1]%}
        <td class="fa-remove">{{ ev.battery_size }} </td>
      {% elif ev.battery_size==maxVal[1] %}
        <td class="fa-check">{{ ev.battery_size }} </td>
      {% else %}
        <td>{{ ev.battery_size }} </td>
      {% endif %}

      {% if ev.WLTP_range==minVal[2] %}
        <td class="fa-remove">{{ ev.WLTP_range }} </td>
      {% elif ev.WLTP_range==maxVal[2] %}
        <td class="fa-check">{{ ev.WLTP_range }} </td>
      {% else %}
        <td>{{ ev.WLTP_range }} </td>
      {% endif %}

      {% if ev.cost==minVal[3] %}
        <td class="fa-check">€{{ ev.cost }} </td>
      {% elif ev.cost==maxVal[3] %}
        <td class="fa-remove">€{{ ev.cost }} </td>
      {% else %}
        <td>€{{ ev.cost }} </td>
      {% endif %}

      {% if ev.power==minVal[4] %}
        <td class="fa-remove">{{ ev.power }} </td>
      {% elif ev.power==maxVal[4] %}
        <td class="fa-check">{{ ev.power }} </td>
      {% else %}
        <td>{{ ev.power }} </td>
      {% endif %}
  </tr>
  {% endfor %}

</table>







<section class="comparison">
    <div class="comp-column">

    </div>
</section>







 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>

</html>
