<!doctype html>
<html>
<head>

<!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

 <title>Datastore and Firebase Auth Example</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
</head>
<body>
 <h1>Datastore and Firebase Auth Example</h1>
 <div id="firebase-auth-container"></div>
   <button id="sign-out" hidden="true">Sign out</button>
   <div id="login-info" hidden="true">
     <h2>Login Info</h2>
     {% if user_data %}
      <dl>
        <dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
        <dt>Boolean Value:</dt><dd>{{ user_info['bool_value'] }}</dd>
        <dt>Float Value:</dt><dd>{{ user_info['float_value'] }}</dd>
        <dt>Int Value:</dt><dd>{{ user_info['int_value'] }}</dd>
        <dt>String Value:</dt><dd>{{ user_info['string_value'] }}</dd>
        <dt>List Value:</dt><dd>{{ user_info['list_value'] }}</dd>
        <dt>Dictionary Value:</dt><dd>{{ user_info['dictionary_value'] }}</dd>
     </dl>
     <form action="/edit_user_info" method="post">
        Int update:<input type="number" value="0" name="int_update"/><br/>
        Float update:<input type="number" value="0.0" name="float_update",
      step="any"/><br/>
        String update:<input type="text" value="" name="string_update"/><br/>
        <input type="submit" value="Update values" name="submit_button"/>
     </form>
   {% elif error_message %}
    <p>Error Message: {{ error_message }}</p>
   {% endif %}
 </div>



 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>

</html>
